* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.body-wrapper {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    margin: 0 auto;
}

/* ----------Блок header/header-topbar---------*/
.header {
    height: 128px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.wrapper-topbar {
    width: 100%;
    background: #1E212C;
}

.header-topbar {
    margin: 0 auto;
    width: 1230px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-topbar-text {
    opacity: 0.6;
}

.header-topbar-text-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.6);
    opacity: 0.6;
    font-weight: 900;
    padding-left: 2px;
}

.header-topbar-text-link:hover {
    color: rgba(255, 255, 255, 1);
    opacity: 1;
}

.header-topbar-ul {
    width: 362px;
    height: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-topbar-li {
    list-style:none;
}  

.header-topbar-li-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
}  

.header-topbar-li .header-topbar-li-link:hover {
    opacity: 1;
}

.header-topbar-data {
    width: 276px;
    display: flex;
    justify-content: space-between;
}

.header-topbar-langcur {
    background: url(../img/ico/down-chevron.svg) no-repeat center right 0;
    width: 90px;
    height: 21px;
    display: flex;
    align-items: center;
    opacity: 0.6;
}

.header-topbar-langcur:hover {
    cursor: pointer;
    opacity: 1;
}

.header-topbar-langcur-button {
    background: url(../img/ico/flag-usa.svg) no-repeat center left 0;
    padding-left: 32px;
    color: #FFFFFF;
    border: none;
}

.header-topbar-langcur-button:hover {
    cursor: pointer;
    opacity: 1;
}

.header-topbar-logreg {
    display: flex;
    align-items: center;
    width: 124px;
    height: 21px;
    opacity: 0.6;
}

.header-topbar-logreg:hover {
    cursor: pointer;
    opacity: 1;
}

.header-topbar-logreg-button {
    background: url(../img/ico/person.svg) no-repeat center left 0;
    padding-left: 24px;
    color: #FFFFFF;
    border: none;
}

.header-topbar-logreg-button:hover {
    cursor: pointer;
    opacity: 1;
}

/* ----------Блок header/nav---------*/
.wrapper-nav {
    width: 100%;
    background: #FFFFFF;
}

.header-nav {
    margin: 0 auto;
    max-width: 1230px;
    height: 86px;
    display: flex;
    align-items: center;
    
    
}

.header-nav-menu {
    width: 348px;
    height: 26px;
    margin-left: 60px;
    
}

.header-nav-menu-ul {
    display: flex;
    justify-content: space-between;
}

.header-nav-menu-li {
    list-style: none;
}

.header-nav-menu-li a{
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
}

.header-nav-menu-li a:hover {
    color: #73788b;
}

.header-nav-menu-li .sale_red{
    color: #FF4242;
}

.header-nav-search {
    width: 380px;
    height: 44px;
    margin-left: 133px;
}

.header-nav-search-form {
    position: relative;
}

.header-nav-search-form input  {
    width: 380px;
    height: 44px;  
}

input[type="text"] {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #9A9CA5;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    padding-left: 16px;
}

input[type="text"]:focus {
    color: #9A9CA5;
    background-color: #fff;
    outline: 0;
}

.header-nav-search-button{
    position: absolute;
    background: url(../img/ico/search.svg) no-repeat 50% 50%;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
    margin-left: 348px;
    margin-top: 14px;
}

.header-nav-favsch {
    width: 131px;
    height: 26px;
    margin-left: 48px;
    display: flex;
    justify-content: space-between;
}

.header-nav-favsch-button {
    background: url(../img/ico/outline.svg) no-repeat left 0;
    background-size:20px 20px;
    width: 58px;
    height: 20px;
    border: none;
    border-right: 1px solid rgb(141, 139, 136);
    display: flex;
    align-items: center;
    color: #424551;
    padding-left: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
}

.header-nav-favsch-button:hover {
    cursor: pointer;
}

.header-nav-favsch-shopping {
    background: url(../img/ico/cart.svg) no-repeat left 0; 
    background-size:22px 22px;
    width: 53px;
    height: 22px;
}

.header-nav-favsch-shopping-link{
    color: #fff;
    margin-left: 30px;
    background-color: #03CEA4;
    border-radius: 4px;
    width: 23px;
    height: 20px;
    line-height: 150%;
    display: inline-block;
    text-align: center;
}

.header-nav-favsch-shopping-link:hover {
    cursor: pointer;
    background-color: cornflowerblue;
}

/* ----------Блок carousel---------*/
.carousel {
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    width: 100%;
    background: #17696A;
    height: 34px;
    display: flex;
    align-items: center;
}

.carousel-box {
    margin: 0 auto;
    width: 274px;
    height: 18px;
    display: flex;
    justify-content: space-between;
}

.carousel-box-previous {
    background: url(../img/ico/left-chevron.svg) no-repeat left 0;
    width: 16px;
    height: 16px;
}

.carousel-box-previous:hover, 
.carousel-box-next:hover{
    cursor: pointer;
}

.carousel-box-discount {
    font-weight: 900;
}

.carousel-box-link {
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    background: #17696A;
    font-weight: 400;
    text-decoration-line: underline;
    font-weight: 400;
    text-decoration-line: underline;
    padding-left: 4px;
}

.carousel-box-link:hover {
    color: #cac4c4;
}

.carousel-box-next {
    background: url(../img/ico/right-chevron.svg) no-repeat right 0;
    width: 16px;
    height: 16px;
}

/* ----------Блок heroslider---------*/
.heroslider {
    width: 100%;
    height: 800px;
    background-color: #73788b;
    background: url(../img/slider.jpg) no-repeat center ;
    display: flex;
    align-items: center;
}

.heroslider-box {
    margin: 0 auto;
    width: 1230px;
    display: flex;
    align-self:baseline;
    margin-top: 140px;
}

.heroslider-button-leftbox {
    background-color: rgba(255, 255, 255, 0.5);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 32px;
}

.heroslider-button-leftbox-button {
    background: url(../img/ico/left.svg) no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}

.heroslider-button-leftbox-button:hover {
    background-size: 30px 30px;
}

.heroslider-box-text {
    width: 723px;
    height: 480px;
}

.heroslider-box-text-collection {
    width: 534px;
    height: 114px;
}

.heroslider-box-text-span {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
    white-space: nowrap;
}

.heroslider-box-text-h1 {
    white-space: nowrap;  
    font-weight: 900;
    font-size: 72px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #1E212C;
    margin-top: 12px;
    display: inline-block;
}

.heroslider-box-text-shop {
    width: 405px;
    height: 54px;
    margin-top: 77px;
    display: flex;
}

.heroslider-box-text-shop-sale {
    width: 152px;
    height: 52px;
    border: 1px solid #17696A;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    letter-spacing: 0.5px;
    color: #17696A;
}

.heroslider-box-text-shop-sale:hover {
    border: 2px solid #0f5253;
}

.heroslider-box-text-shop-menswear {
    width: 229px;
    height: 52px;
    background: #17696A;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    margin-left: 24px;
}   

.heroslider-box-text-shop-menswear:hover {
    background: #0f5253;
}

.heroslider-box-text-slider {
    width: 723px;
    height: 43px;
    margin-top: 192px;
    display: flex;
    justify-content: space-between;
}

.heroslider-box-text-slider-box{
    width: 178px;
    height: 43px;
    border: none;
    border-bottom:2px solid #424551;
}

.nonaktive-slider {
    border-bottom:2px solid #424551;
    opacity: 0.3;
}

.nonaktive-slider:hover {
    border-bottom:2px solid #424551;
    opacity: 1;
}

.heroslider-box-text-slider-text {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #424551;
}

.heroslider-button-rightbox {
    background-color: rgba(255, 255, 255, 0.5);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
}

.heroslider-button-rightbox-button {
    background: url(../img/ico/right.svg) no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}

.heroslider-button-rightbox-button:hover {
    background-size: 30px 30px;
}
/* ----------Блок categories---------*/
.categories {
    min-height: 556px;
    background-color: #fff;
}

.categories-box {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transform: translateY(-60px);
}

.categories-box-block-link {
    height: 436px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    
}

.categories-box-block-link:hover {
    transition: 1.5s;
    outline:1px solid #17696A;
    transform: scale(1.05);  
    transition: 0.5s;  
    
}

.categories-box-block-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #424551;
}
/* ----------Блок arrivals---------*/
.arrivals {
    min-height: 691px;
    margin-bottom: 180px;
    padding: 0 10px;
}

.arrivals-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.arrivals-text {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.arrivals-text-h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
}

.arrivals-text-span {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #787A80;
    margin-top: 24px;
}

.arrivals-text-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    text-decoration-line: underline;
    color: #17696A;
}

.arrivals-text-link:hover {
    color: rgba(19, 19, 19, 0.884);
}

.arrivals-carousel {
    max-width: 1860px;
    display: flex;
    flex: 1;
    gap: 30px;
    margin-top: 60px;
    flex-wrap:wrap;
}



.arrivals-carousel-wrapper {
    position: relative;
}

.arrivals-carousel-box {
    width: 285px;
    height: 320px;
    border-radius: 4px;
    display: flex;
    flex-direction:column;
    width: 285px;
    height: 413px;
}

.arrivals-carousel-rating {
    position: absolute;
    right: 16px;
    top: 16px;
}

.arrivals-carousel-wrapper:hover {
    outline:1px solid #787A80;
    transition: 0.5s;
    transform: scale(1.05);
    border-radius:10px ;
}

.arrivals-carousel-buttom {
    position: absolute;
    right: 16px;
    top: 272px;
    background: url(../img/ico/wishlist.svg) no-repeat center center;
    background-size: 15.17px 13.33px;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
}

.arrivals-carousel-buttom:hover {
    background-color: rgb(235, 228, 228);
    transition: 0.2s;
    transform: scale(1.2);
}

.arrivals-carousel-box-description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #424551;
    margin: 16px 16px 8px 16px;
}

.arrivals-carousel-box-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #1E212C;
    margin:0 16px 16px 16px;
}

.arrivals-slides {
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 0px;
    margin-top: 80px;
}

.arrivals-slides-box {
    width: 30px;
    height: 0px;
    border-bottom: 3px solid #424551;
}

.nonaktive-arrivals-slides {
    border-bottom: 3px solid #B3B7BC;
}

.nonaktive-arrivals-slides:hover {
    border-bottom: 3px solid #424551;
    cursor: pointer;
}

/* ----------Блок banners---------*/
.banners {
    width: 100%;
    height: 1016px;
    margin-bottom: 178px;
}

.banners-wrapper {
    max-width: 1860px;
    margin: 0 auto;
    margin-bottom: 180px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(2, 500px);
}

.banners-box1 {
    grid-column: 1 / 9;
    background: url(../img/banners/banners1.jpg) no-repeat;
    background-size: 735px 500px;
    border-radius: 4px;
}

.banners-span {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
    margin: 60px 0 0 60px;
    display: inline-block;
}

.banners-box1-span {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
}

.banners-title {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    color: #1E212C;
    margin: 12px 0 0 60px;
}

.banners-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #17696A;
    margin: 40px 0 0 60px;
    display: inline-block;
}

.banners-box1-link {
    width: 190px;
    height: 44px;
    border: 1px solid #17696A;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banners-box1-link:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.banners-box2 {
    grid-column: 9 / 21;
    background: url(../img/banners/banners2.jpg) no-repeat;
    background-size: 1109px 500px;
    border-radius: 4px;
}

.banners-box2-title {
    width: 362px;
}

.banners-box2-link {
    width: 130px;
    height: 44px;
    border: 1px solid #17696A;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banners-box2-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.banners-box2-sale {
    width: 209px;
    height: 100px;
    margin-top: 80px;
    margin-left: 64px;
}

.banners-box2-sale-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
}

.banners-box2-sale-block-box{
    width: 209px;
    height: 67px;
    display: grid;
    grid-template-columns:33px 38px 33px 33px;
    gap: 24px;
    margin-top: 12px;
}

.banners-box2-sale-block {
    width: 33px;
    height: 67px;
    display: grid;
    justify-items:center;
}

.banners-box2-sale-block-span-1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;      
    color: #1E212C;
}

.banners-box2-sale-block-span-2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #1E212C;
    margin-top: 4px;
    display: inline-block;
}

.banners-box3 {
    grid-column: 1 / 13;
    background: url(../img/banners/banners3.jpg) no-repeat;
    background-size: 1109px 500px;
    border-radius: 4px;
}

.banners-box3-title {
    width: 320px;
}

.banners-box3-link {
    width: 155px;
    height: 44px;
    border: 1px solid #17696A;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 32px;
    background-size: 16px 16px;
    background: url(../img/ico/right-see.svg) no-repeat center right 32px;
}

.banners-box3-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    
}

.banners-box4 { 
    grid-column: 13 / 21;
    background: url(../img/banners/banners4.png) no-repeat right bottom;
    background-size: 439px 380px;
    border-radius: 4px;
    background-color: #E5E8ED;
}

.banners-box4-email {
    margin:32px 0 0 60px;
    display: flex;
    flex-direction:column;
}

.banners-box4-email-form-span {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #424551;
}

.banners-box4-email-form {
    margin-top: 8px;
    display: flex;
}

.banners-box4-email-form input[type="text"] {
    border-radius: 4px 0 0 4px;
    width: 231px;
    height: 44px;
}

.banners-box4-email-form input[type="text"]:focus {

    color:  #0f5253;
    background-color: #fff;
    outline: 0;
}

.banners-box4-email-button {
    width: 129px;
    height: 44px;
    background: #17696A;
    border-radius: 0px 4px 4px 0px;
    margin-left: 231px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.banners-box4-email-button:hover {
    cursor: pointer;
    background-color: #0f5253;
}

.banners-box4-email-button:focus {
    outline: 0;
}

.banners-box4-span2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;    
    color: #424551;
    margin-top: 20px;
    display: inline-block;
    width: 350px;
}
/* ----------Блок popular---------*/
.popular {
    margin-bottom: 180px;
}

.popular-wrapper {
    max-width: 1240px;
    height: 354px;
    margin: 0 auto;
    padding:0 5px;
}

.popular-title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
    text-align: center;
}

.popular-box {
    margin-top: 60px;
    max-width: 1230px;
    min-height: 234px;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.popular-box-link {
    width: 180px;
    height: 234px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.popular-box-link:hover {
    transition: 0.5s;
    transform: scale(1.05);
    
}

.popular-box-img {
    width: 180px;
    height: 180px;
}

.popular-box-description {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin-top: 24px;
}
/* ----------Блок trending БЭМ--------*/
.trending {
    width: 100%;
    height: 970px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-block {
    max-width: 1240px;
    margin: 0 auto;
}

.wrapper-block_sale {
    height: 970px;
}

.product-title {
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.h2-title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
}

.button-arrow {
    width: 84px;
    height: 48px;
    margin-right: 0;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-arrow__left {
    background: url(../img/ico/left.svg) no-repeat;
    background-position: center center;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    margin-left: 12px;
}

.button-arrow__left:hover {
    margin-left: 0;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 24px;
    background-color: #17696A;
}

.button-arrow__right {
    background: url(../img/ico/right.svg) no-repeat;
    background-position: center center;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    border: none;
    margin-right: 12px;
}

.button-arrow__right:hover {
    margin-right: 0;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 24px;
    background-color: #17696A;
}

.wrapper-product{
    display: flex;
    justify-content: space-between;
}

.product-box {
    width: 390px;
    height: 538px;
    display: flex;
    flex-direction:column;
    position: relative;
    border-radius: 4px;
    margin-bottom: 80px;
}

.product-box:hover {
    cursor: pointer;
}

.product-box__img-box {
    position: relative;
}

.discount-percentage {
    position: absolute;
    text-align: center;
    width: 54px;
    height: 28px;
    top: 16px;
    left: 16px;
    background-color: #FF4242;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}

.img-stars {
    right: 16px;
    top: 16px;
    background-size: 78px 14px;
    position: absolute;
    width: 78px;
    height: 14px;
}

.img-stars_4 {
    background: url(../img/ico/rating4.svg) no-repeat;
}

.img-stars_5 {
    background: url(../img/ico/rating5.svg) no-repeat;
}

.button-product__left {
    background: url(../img/ico/left-chevron-pr.svg) no-repeat center center;
    position: absolute;
    width:9px;
    height:16px;
    left: 16px;
    top: 208px;
    border: 0;
    cursor: pointer;
    display: none;
}

.button-product__left:hover {
    transform: scale(1.3);
}

.button-product__right {
    background: url(../img/ico/right-chevron-pr.svg) no-repeat;
    position: absolute;
    width:9px;
    height:16px;
    right: 16px;
    top: 208px;
    border: 0;
    cursor: pointer;
    display: none;
}

.button-product__right:hover {
    transform: scale(1.3);
}

.button-favourites {
    right: 16px;
    top:  392px;
    background: url(../img/ico/wishlist.svg) no-repeat center center;
    background-size: 15.17px 13.33px;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    position: absolute;
}

.button-favourites:hover {
    background-color: rgb(235, 228, 228);
    transition: 0.2s;
    transform: scale(1.2);
}

.text-product {
    width: 387px;
    height: 99px;
}

.description-product {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #424551;
    margin: 16px 0 0 16px;
}

.price-box {
    width: 100%;
    height: 31px;
    display: flex;
    margin-left: 16px;
    margin-top: 8px;
}

.price-description {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FF4242;
}

.price-description_trending {
    color: #1E212C;
}

.price-description_product-box_through {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-decoration-line: line-through;
    margin-left: 12px;
    color: #787A80;
}

.product-box:hover .features{
    transition: 1s; 
    position: relative; 
    opacity: 1;
}

.product-box:hover .button-product__left, .product-box:hover .button-product__right {
    display: inline;
}

.features {
    position: absolute; 
    display: flex;
    flex-direction:column;
    height: 106px;
    opacity: 0; 
}

.features-box {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.size {
    margin-left: 16px;
    width: 152px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.size__text {
    width: 24px;
    height: 24px;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    text-align: center;
}

.size__text:hover {
    border: 1px solid #17696A;
    border-radius: 4px;
    cursor: pointer;
}

.sale__col{
    width: 88px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
}

.product-colour {
    width: 16px;
    height: 16px;
    border-radius: 12px; 
}

.product-colour_black{  
    background-color: #000;  
}

.product-colour_brown { 
    background-color: #874E19;
}

.product-colour_white {  
    background-color: #C0DDED; 
}

.product-colour:hover {
    outline: 2px solid #0f5253;
    cursor: pointer;
}

.button_add-cart{
    margin:0 auto ;
    margin-top: 20px;
    width: 358px;
    height: 44px;
    display: flex;
    align-items: center;
    padding-left: 155px;
    background: url(../img/ico/cart-buttom.svg) no-repeat center left 129px;
    background-size: 15px 13.67px;
    background-color: #17696A;
    border: 4px solid #17696A;
    border-radius:4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.button_add-cart:hover {
    cursor: pointer;
    background-color: #0f5253;
    border: 4px solid #0f5253;
}

.button-link {
    width: 209px;
    height: 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    display: flex;
    align-items: center;
    justify-content:center;
    letter-spacing: 0.5px;
    color: #17696A;
    border: 1px solid #17696A;
    border-radius: 4px;
    cursor: pointer;
}

.button-link_trending{
    margin:0 auto;
    margin-top: 55px;
}

.button-link:hover {
    background-color: rgba(107, 122, 103, 0.2);
}

/* ----------Блок sale -------*/
.sale {
    height: 940px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.button-link_sale{
    margin:0 auto;
    margin-top: 55px;
}

/* ----------Блок Enjoy -------*/
.enjoy {
    height: 300px;
    width: 100%;
    background-color: #1E212C;
}

.wrapper-block_enjoy {
    background-color: #1E212C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enjoy__img-block {
    width:490px;
    height: 300px;
    transform: translateY(-30px);
}

.enjoy__text-block {
    display: flex;
    flex-direction:column;
    width: 602px;
    height: 179px;
    background-color: #15406b;
    margin-left: 141px;
}

.h3-title {
    width: 600px;
    height: 84px;
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    color: #FFFFFF;
}

.app-store {
    margin-top: 48px;
    width: 348px;
    height: 48px;
    display: flex;
    justify-content: space-between;
}

.app-store_link-app {
    background-image: url(../img/button/app-store.png);
    width: 162px;
    height: 48px;
    border: none;
    border-radius:8px;
}

.app-store_link-google {
    background-image: url(../img/button/google-play.png);
    width: 162px;
    height: 48px;
    border: none;
    border-radius:8px;
}

.app-store_link-app:hover, .app-store_link-google:hover {
    outline: 1px solid #B3B7BC;
    cursor: pointer;
}
/* ----------Блок how we work -------*/
.work {
    height: 436px;
    width: 100%;
    display: flex;
    align-items: center;

}

.work_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1230px;
    height: 136px;
}

.work_box {
    width: 240px;
    height: 136px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.work__ico {
    width: 48px;
    height: 48px;
}

.work__ico_delivery {
    background-image: url(../img/ico/ic-delivery.svg);
}

.work__ico_call-center {
    background-image: url(../img/ico/ic-call-center.svg);
}

.work__ico_shield {
    background-image: url(../img/ico/ic-shield.svg);
}

.work__ico_credit {
    background-image: url(../img/ico/ic-credit-card.svg);
}

.h4-title_work {
    margin-top: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #1E212C;
}

.work__description {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #787A80;
}

.vertical-line_work {
    border-left: 1px solid #E6E6E7;
    height: 136px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ----------Блок instagram-------*/
.instagram {
    height: 440px;
    display: flex;
    flex: 1;
}

.wrapper-block_work {
    padding:0 5px;
    display: flex;
    justify-content: space-between;
}

.instagram__description {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
}

.h2-title_instagram {
    margin-top: 8px;
}

.button-link_instagram {
    margin-top: 60px;
    padding-left: 32px;
    width: 241px;
    height: 52px;
    background: url(../img/ico/Instagram.svg) no-repeat center left 40px;
}

.instagram__box-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 812px;
    height: 260px;
    gap: 15px;
}

.instagram__images {
    display: flex;
    flex: 1;
}

/* ----------Блок blog-------*/
.blog {
    height: 602px;
    width: 100%;
}

.blog__block-title {
    display: flex;
    justify-content: space-between;
}

.button-link_blog {
    margin-top: 16px;
}

.blog__block {
    margin-top: 59px;
    height: 481px;
    display: flex;
    justify-content: space-between;
}

.blog__article {
    width: 600px;
    height: 483px;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.blog__box-img {
    border-radius: 4px 4px 0px 0px;
}

.blog__box-text {
    width: 526px;
    height: 120px;
    margin: 24px 50px 0 24px;
    
}

.blog__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
}

.blog__comment {
    width: 308px;
    height: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
    margin-top: 12px;
}

.link_blog {
    color: #787A80;
}

.link_blog:hover {
    color: #4b4b4d;
}

.vertical-line_blog {
    border-left: 1px solid #787A80;
    height: 12px;
}

.blog__comment-com {
    background: url(../img/ico/chat.svg) no-repeat center left;
    padding-left: 25px;
}

.blog__paragraph {
    display: inline-block;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
}

/* ----------Блок brands -------*/
.brands {
    height: 304px;
    width: 100%;
}

.wrapper-block_brands {
    padding-top: 120px;
    height: 64px;
}

.brands__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brands__box:hover {
    outline: 1px solid #b6c6c7;
    border-radius: 5px;
}

/* ----------Блок Subscribe -------*/
.subscribe {
    background-color: #F4F5F6;
}

.wrapper-block_subscribe {
    display: flex;
}

.subscribe__block-text {
    width: 769px;
    height: 546px;
}

.h2-title_subscribe {
    margin-top: 100px;
}

.subscribe__description {
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #787A80;
}

.subscribe__box-buttons {
    margin-top: 36px;
    width: 303px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}

.button_subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5.5px 16px;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    background-color: #F4F5F6;
}

.button_subscribe:hover {
    background-color: #17696A;
    color: #FFFFFF;
    cursor: pointer;
}

.form-subscribe {
    margin-top: 32px;
    display: flex;
    flex-direction:column;
}

.form-subscribe__description {
    display: inline-block;
}

.inner_input {
    margin-top: 15px;
    width:495px;
    height:52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="email"] {
    width: 341px;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid #D7DADD;
    border-radius: 4px 0 0 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #9A9CA5;
    padding-left: 16px;
    display: inline-block;
}

input[type="email"]:focus {
    outline: 0;
}

.button_form-subscribe {
    width: 154px;
    height: 52px;
    right: 0px;
    top: 34px;
    background: #17696A;
    border-radius: 0px 4px 4px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    border: none;
    display: inline-block;
}

.button_form-subscribe:hover {
    background: #0f5253;
    cursor: pointer;
}

.inner_checkbox {
    margin-top: 29px;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    background: #17696A;
    border: 1px solid #17696A;
    border-radius: 3px;
    margin-right: 12px;
}

input[type=checkbox]:checked + label:before {
	content: "";
    background-image: url(../img/ico/check.svg);
    background-repeat: no-repeat;
    background-size: 10px 8px;
    background-position: center center;
}

.form-subscribe___description-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
}

.subscribe__block-img {
    width: 462px;
    height: 546px;
    margin-top: 65px;
}

/* ----------Блок footer -------*/
.footer {
    background-color: #1E212C;
}

.wrapper-block_footer {
    height: 358px;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.h5-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__menu {
    padding-top: 12px;
}

.footer__menu-list {
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}

.footer__menu-list:last-of-type {
    padding-top:4px ;
    list-style: none;
}

.link {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.6;
    text-shadow: 0px 4px 4px #393C46;
}

.link_nav-connection {
 padding-left: 4px;
}

.link_nav-connection:hover {
    opacity: 1;
}

.link_footer {
    color: #FFFFFF;
    opacity: 0.6;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.link_footer:hover {
    opacity: 1;
}

.social-network {
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
}

.link-social {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: #393C46;

}

.social-network__box {
    background-size: 16px 16px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: #393C46;  
}

.social-network__box:hover {
    background-color: #2e3038; 

}

.social-network__box1 {
    background: url(../img/ico/facebook.svg) no-repeat center center;
}

.social-network__box2 {
    background: url(../img/ico/instagram-ico.svg) no-repeat center center;
}

.social-network__box3 {
    background: url(../img/ico/twitter.svg) no-repeat center center;
}

.social-network__box4 {
    background: url(../img/ico/youtube.svg) no-repeat center center;
}

.social-network__box5 {
    background: url(../img/ico/pinterest.svg) no-repeat center center;
}

.footer__copywriter {
    height: 73px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner_copywriter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text-copywriter {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
}

.footer__text-creator {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    background: url(../img/ico/outline-footer.svg) no-repeat center left 0;
    margin-left: 4px;
    padding-left: 20px;
}

.footer__go-to {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.6;
}
